spring:
  datasource:
    url: jdbc:mysql://localhost:3306/meu_banco?useSSL=false&serverTimezone=UTC
    username: root
    password: 1234
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true